* {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.eraser, .brush {
    position: fixed;
    left: 0;
    bottom: 0;
}

.brush #brush {
    display: none;
}

.eraser #eraser {
    display: none;
}
.eraser #brush {
    display: inline-block;
}

#canvas {
    background: rgb(221, 221, 221);
}